# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex


# Vim stuff
*.sw[a-p]

# Binary Outputs
C-examples/C++/aSimpleClass/TestUtility
C-examples/C++/lists/genericList/TestLists
C-examples/C++/lists/phonelist/TestLists
C-examples/C++/lists/template/testTemplate
C-examples/C++/mergesort/testms
C-examples/C++/simpleExamples/demo1
C-examples/C++/simpleExamples/demo2
C-examples/C++/simpleExamples/demo3
C-examples/C++/simpleExamples/hello
C-examples/C++/stack/TestStack
C-examples/C++/stringTokenizer/testTokenizer
C-examples/bitwise-operators/bitmanip
C-examples/bitwise-operators/getbits
C-examples/bitwise-operators/pack
C-examples/bitwise-operators/shift-overflow
C-examples/bitwise-operators/simple
C-examples/c-preprocessor/ex1
C-examples/c-preprocessor/ex2
C-examples/c-preprocessor/macro
C-examples/exception/try
C-examples/file-io/checkpoint-java/LoadList.class
C-examples/file-io/checkpoint-java/SaveList.class
C-examples/file-io/checkpoint/RestoreList
C-examples/file-io/checkpoint/SaveList
C-examples/file-io/disk_search/SearchTest
C-examples/file-io/disk_search/gendata
C-examples/file-io/filesize
C-examples/file-io/genbin
C-examples/file-io/gentxt
C-examples/file-io/readfile
C-examples/function-pointers/fun-with-fns
C-examples/function-pointers/myfunc
C-examples/function-pointers/test-qsort
C-examples/gdb/arrays
C-examples/gdb/faulty1
C-examples/gdb/function
C-examples/gdb/loop
C-examples/gdb/strings
C-examples/gdb/testlists
C-examples/intro/cmdline
C-examples/intro/cmdline-str
C-examples/intro/conv
C-examples/intro/count-digits
C-examples/intro/cp1
C-examples/intro/cp2
C-examples/intro/helloworld
C-examples/intro/printtest
C-examples/intro/range
C-examples/intro/static
C-examples/intro/wc1
C-examples/intro/wc2
C-examples/intro/wc3
C-examples/intro/width
