#ignore executables and generated device driver files
device-management/linux-device-drivers/example1/.example.ko.cmd
device-management/linux-device-drivers/example1/.example.mod.o.cmd
device-management/linux-device-drivers/example1/.example.o.cmd
device-management/linux-device-drivers/example1/.tmp_versions/
device-management/linux-device-drivers/example1/Module.symvers
device-management/linux-device-drivers/example1/example.mod.c
device-management/linux-device-drivers/example1/modules.order
device-management/linux-device-drivers/example2/.example.ko.cmd
device-management/linux-device-drivers/example2/.example.mod.o.cmd
device-management/linux-device-drivers/example2/.example.o.cmd
device-management/linux-device-drivers/example2/.tmp_versions/
device-management/linux-device-drivers/example2/Module.symvers
device-management/linux-device-drivers/example2/example.mod.c
device-management/linux-device-drivers/example2/modules.order
device-management/linux-device-drivers/example3/.example.ko.cmd
device-management/linux-device-drivers/example3/.example.mod.o.cmd
device-management/linux-device-drivers/example3/.example.o.cmd
device-management/linux-device-drivers/example3/.tmp_versions/
device-management/linux-device-drivers/example3/Module.symvers
device-management/linux-device-drivers/example3/example.mod.c
device-management/linux-device-drivers/example3/modules.order
device-management/linux-device-drivers/example4/.example.ko.cmd
device-management/linux-device-drivers/example4/.example.mod.o.cmd
device-management/linux-device-drivers/example4/.example.o.cmd
device-management/linux-device-drivers/example4/.tmp_versions/
device-management/linux-device-drivers/example4/Module.symvers
device-management/linux-device-drivers/example4/example.mod.c
device-management/linux-device-drivers/example4/modules.order
device-management/linux-device-drivers/hello/.hello.ko.cmd
device-management/linux-device-drivers/hello/.hello.mod.o.cmd
device-management/linux-device-drivers/hello/.hello.o.cmd
device-management/linux-device-drivers/hello/.tmp_versions/
device-management/linux-device-drivers/hello/Module.symvers
device-management/linux-device-drivers/hello/hello.mod.c
device-management/linux-device-drivers/hello/modules.order
device-management/linux-device-drivers/proc-ex1/.jiffies.ko.cmd
device-management/linux-device-drivers/proc-ex1/.jiffies.mod.o.cmd
device-management/linux-device-drivers/proc-ex1/.jiffies.o.cmd
device-management/linux-device-drivers/proc-ex1/.tmp_versions/
device-management/linux-device-drivers/proc-ex1/Module.symvers
device-management/linux-device-drivers/proc-ex1/jiffies.mod.c
device-management/linux-device-drivers/proc-ex1/modules.order
device-management/mycp
device-management/test-random-device
device-management/threads-dbl-buf-attempt
file-management/create-empty-file
file-management/d1/
file-management/f1
file-management/f2
file-management/f3
file-management/f4
file-management/f5
file-management/file-io
file-management/filesize-survey
file-management/filetype-survey
file-management/mcopy
file-management/mmap-io
file-management/mycp
file-management/myls
file-management/mystat
file-management/numproc
file-management/pseudo-device.img
file-management/seek1
file-management/seek2
file-management/testfileopen
files-processes/fork-and-exec
files-processes/fork-and-exec-xlogo
files-processes/fork-and-wait
files-processes/fork-child-grandchild
files-processes/fork-hello-world
files-processes/fork-test
files-processes/fork-two-children
files-processes/mycp
files-processes/numcpus
files-processes/pow2Tester
files-processes/print-buffer-sizes
files-processes/print-max-no-procs
files-processes/print-pid
files-processes/sig-handler
files-processes/simple-shell
files-processes/skeleton
files-processes/stdc-mycp
files-processes/timeout
memory-management/2d_contiguous
memory-management/access_posix_shmem
memory-management/access_shmem
memory-management/access_shmem_2
memory-management/create_posix_shmem
memory-management/create_shmem
memory-management/create_shmem_2
memory-management/library-example/test1
memory-management/library-interposer/test-read
memory-management/limits
memory-management/malloc-and-OS
memory-management/malloc-sbrk
memory-management/memtest
memory-management/sbrk-test
memory-management/semdemo
memory-management/semrm
memory-management/simple-malloc/simple-malloc-random-test
memory-management/simple-malloc/simple-malloc-test
memory-management/test.s
memory-management/types
networking/C/misc/byteorder
networking/C/misc/testrcmd
networking/C/tcp/tcpclient
networking/C/tcp/tcpserver
networking/C/tcp/timeclient
networking/C/tcp/timeserver
networking/C/udp/udpclient1
networking/C/udp/udpclient2
networking/C/udp/udpserver1
networking/C/udp/udpserver2
plugins/ex1/runplug
plugins/ex2/Loader
plugins/ex3/Loader
plugins/ex4/Loader
process-management/deh
process-management/deh-static
process-management/test-bss
scheduling/srt
scheduling/tcs
security/overflow
security/printwhoami
security/self
synchronization-part1/bad-bank-balance
synchronization-part1/checkpoint
synchronization-part1/counting
synchronization-part1/mergesort/single-threaded/mergesort
synchronization-part1/mycp
synchronization-part1/randomqueues-test
synchronization-part1/safe-bank-balance
synchronization-part1/threads-barrier
synchronization-part1/threads-cp
synchronization-part1/threads-hello-synchronized
synchronization-part1/threads-id
synchronization-part1/thread-sum
synchronization-part1/threads-dbl-buf
synchronization-part1/threads-sem-cp
synchronization-part2/daemon_ex1
synchronization-part2/fifos/color
synchronization-part2/fifos/color.d
synchronization-part2/fifos/error.d
synchronization-part2/fifos/fifo-client
synchronization-part2/fifos/fifo-client.d
synchronization-part2/fifos/fifo-server
synchronization-part2/fifos/fifo-server.d
synchronization-part2/fifos/fifo-talk
synchronization-part2/fifos/fifo-talk.d
synchronization-part2/fifos/hello-fifo
synchronization-part2/fifos/hello-fifo.d
synchronization-part2/fun
synchronization-part2/monitors/pthreads/account/TestAccount
synchronization-part2/monitors/pthreads/account/TestAccountWrapper
synchronization-part2/monitors/pthreads/account/badTestAccount
synchronization-part2/monitors/pthreads/alarm-clock/TestAlarm
synchronization-part2/monitors/pthreads/producers-consumers/producers-consumers
synchronization-part2/monitors/pthreads/thread-signals
synchronization-part2/process-groups/g1
synchronization-part2/process-groups/g2
synchronization-part2/process-groups/g3
synchronization-part2/process-groups/g4
synchronization-part2/process-groups/print-gid
synchronization-part2/wait1
virtual-memory/exhaust-vm
virtual-memory/pft
signals-pipes/signals/sig1
signals-pipes/signals/sig2
signals-pipes/signals/sig3
signals-pipes/signals/sig4
signals-pipes/signals/sig5
signals-pipes/signals/sig6
signals-pipes/fifos/color
signals-pipes/fifos/fifo-client
signals-pipes/fifos/fifo-server
signals-pipes/fifos/fifo-talk
signals-pipes/fifos/hello-fifo
signals-pipes/pipes/anagrams/sign
signals-pipes/pipes/dup1
signals-pipes/pipes/dup2
signals-pipes/pipes/hello-pipe-1
signals-pipes/pipes/hello-pipe-2
signals-pipes/pipes/log
signals-pipes/pipes/pipe-talk
signals-pipes/pipes/pipe2
signals-pipes/pipes/pipe3
signals-pipes/pipes/pipe4
#
*.d
*.o
